<div>
    <!-- <h4 class="header">LINKS</h4> -->
   <div class="vertical">
  <div class="links"><a href="/">Home</a></div>
    <div class="links">
      <a href="{% link pages/about.md %}">
         OHYS</a>
      </div>
    <div class="links">
      <a href="{% link pages/author.md %}">
        Marquez</a>
      </div>

    <div class="links">
      <a href="{% link pages/characters.md %}">
        Characters</a>
      </div>

    <div class="links"><a href="{% link pages/blogs.html %}">Blog Posts</a>
      </div>

    <div class="links">
      <a href="{% link pages/helpme.md %}">
        Contribute</a>
    </div>

  <div class="links">
    <a href="{% link pages/license.md %}">License</a>
  </div>
</div>
</div>


    <div class="row-leftnav">
      <div class="column">
        <a href="{% link pages/gallery.html %}">
          <img class="image-rotate"src="/assets/gallery.svg" alt="Gallery" style="width: 30px">
          <p style="font-size:small;">Gallery</p>
        </a>
      </div>

      <div class="column">
        <a href="{% link pages/resources.md %}">
          <img class="image-rotate"src="/assets/books.svg" alt="Resources" style="width: 30px">
          <p style="font-size:small;">Resources</p>
        </a>
      </div>

      <div class="column">
       <a href="{% link pages/trivia/trivia.html %}">
        <img class="image-rotate" style="width: 30px;" src="/assets/glass.svg" alt="Trivia">
        <p style="font-size:small;" >Trivia!</p>
      </a>
      </div>

      <div class="column">
     <a href="{% link pages/todo.md %}">
<img class="image-rotate"style="width: 30px;" src="/assets/tick.svg">
      <p style="font-size:small;">To Do</p></a>
      </div>
    </div>
