<div>
    <h4 class="header">LINKS</h4>
   <ul class="vertical">
  
    <li class="links">
      <a href="{% link pages/about.md %}">
        <img src="{{ "/content/bookicon.png" | relative_url }}" width="15px" alt=""> About the Book</a>
      </li>

    <li class="links">
      <a href="{% link pages/author.md %}">
        <img width="20px" src="{{ "/content/marquezicon.jpeg" | relative_url }}" alt=""> About The Author</a>
      </li>

    <li class="links">
      <a href="{% link pages/characters.md %}">
        <img width="15px" src="{{ "/content/charactersicon.png" | relative_url }}" alt=""> Characters</a>
      </li>

    <li class="links">
      <a href="{% link pages/blogs.html %}">
        <img width="15px" src="{{ "/content/quillicon.png" | relative_url }}" alt=""> Blog Posts</a>
      </li>

    <li class="links">
      <a href="{% link pages/updates.md %}">
        <img width="15px" src="{{ "/content/updatesicon.png" | relative_url }}" alt=""> Site Updates</a>
      </li>

    <li class="links">
      <a href="{% link pages/helpme.md %}"><img src="{{ "/assets/gifs/cdrom.gif" | relative_url }}" alt="" style="float: left; width: 15px;"> Contribute or Report Error</a>
    </li>

  <li class="links">
    <a href="{% link pages/howto.md %}">Licensing & Information</a>
  </li>

  
</ul>
    </div>


    <div class="row-leftnav">
      <div class="column">
        <a href="{% link pages/gallery.html %}">
          <img src="{{ "/content/galleryicon.png" | relative_url }}" alt="Gallery" style="width: 50px">
          <p style="font-size:small;">Gallery</p>
        </a>
      </div>

      <div class="column">
        <a href="{% link pages/resources.md %}">
          <img src="{{ "/content/resourcesicon.png" | relative_url }}" alt="Resources" style="width: 50px;">
          <p style="font-size:small;">Resources</p>
        </a>
      </div>

      <div class="column">
       <a href="{% link pages/trivia/trivia.md %}">
        <img style="width: 50px;" src="{{ "/content/triviaicon.gif" | relative_url }}" alt="Trivia">
        <p style="font-size:small;">Trivia!</p>
      </a>
      </div>
      
      <div class="column">
     <a href="{% link pages/todo.md %}"><p style="font-size: 21px; text-align: center;">✅</p><p style="font-size:small; text-align: center;">To Do</p></a>
      </div>
    </div>
    
</div>
