<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description"
      content="Wiki for Marquez's novel One Hundred years of Solitude.
                Includes details of characters and a list of trivia. 
                Minutest info about the novel and the legendary Buendia Family.">
<link href="{{ "/css/style.css" | relative_url }}" rel="stylesheet" type="text/css">
<link rel="shortcut icon" href="{{ "/assets/favicon.ico" | relative_url }}" type="image/x-icon">

