<div class="box" id="box2">
    <div class="summary-box">
  <p class="summary_box_title">Summary</p>
  <pre>
<strong>Name:</strong> {{ page.title }}
<strong>Father:</strong> {{ page.father }}
<strong>Mother:</strong> {{ page.mother }}
<strong>Born:</strong> {{ page.born }}
<strong>Death:</strong> {{ page.death }}
<strong>Cause of Death:</strong> {{ page.death_cause }}
<strong>Lover:</strong> {{ page.lover }}
<strong>Spouse:</strong> {{ page.spouse }}
<strong>Generation:</strong> {{ page.gen }}
<strong>Children:</strong> {{ page.issue }}
<strong>Resembles:</strong> {{ page.resembles }}
</pre>
    </div>
  </div>