<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>{{ page.title }} - Wiki-OHYS</title>
      <link href="{{ "/css/style.css" | relative_url }}" rel="stylesheet" type="text/css">
      <style>


      </style>
   </head>
   <body>
    {% include banner.html %}
    {% include navbar.html %}
         <hr>
         <div class="left">
         </div>
         <div class="main">
            {{ content }}
         </div>
         <div class="right"> 
         </div>
   
   </body>
</html>