<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{ page.title }} - Wiki-OHYS</title>
  {% include favicon.html %}
  {% include fonts.html %}
  {% include meta.html %}
  <style media="screen">
    h2,
    h1 {
      margin-top: 0;
    }
  </style>
</head>

<body>
  {% include banner.html %}
  <div class="char-grid">
    <div class="char-left">{% include leftnav.html %}</div>
    <div class="char-right">
      {{ content }}
    </div>
  </div>

  {% include back-to-top.html %}
  <p style="margin: 20px;"></p>

</body>

</html>