<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>{{ page.title }} - Wiki-OHYS</title>
      <link href="{{ "/css/style.css" | relative_url }}" rel="stylesheet" type="text/css">
      {% include favicon.html %}
      <style>
         * {
         box-sizing: border-box;
         }
      </style>
   </head>


   <body>
      {% include banner.html %}
      <div class="left">
            {% include leftnav.html %}
         </div>
         <div class="main">
            {{ content }}
         </div>
         <div class="right"> 
         </div>
   </body>
</html>