<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>{{ page.title }} - Wiki-OHYS</title>
      <link href="{{ "/css/style.css" | relative_url }}" rel="stylesheet" type="text/css">
      {% include favicon.html %}
   </head>
   
   <body class="character">
    {% include banner.html %}
<div class="left">{% include leftnav.html %}</div>
         <div class="centered-content">
               {{ content }}

            </div>
            <script src="https://unpkg.com/vanilla-back-to-top@7.2.1/dist/vanilla-back-to-top.min.js"></script>
<script>addBackToTop({
  diameter: 56,
  backgroundColor: 'rgb(255, 82, 82)',
  textColor: '#fff'
})</script> 
   </body>
</html>