<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Gallery</title>
    {% include favicon.html %}
    <link rel="stylesheet" href="../css/gallery-css.css" type="text/css">

</head>
<body>
  {% include banner.html %}
    {% include navbar.html %}
  <hr>
<div class="gallery">
    <figure class="gallery-item">
        <img src="../content/amaranta_ursula.jpg" alt="Description of Image 1">
        <figcaption>Caption for Image 1</figcaption>
    </figure>

    <figure class="gallery-item">
        <img src="../content/jabuendia.jpeg" alt="Description of Image 2">
        <figcaption>Caption for Image 2</figcaption>
    </figure>

    <figure class="gallery-item">
      <img src="../content/cover.jpeg" alt="Description of Image 2">
      <figcaption>Caption for Image 2</figcaption>
  </figure>
  
  <figure class="gallery-item">
    <img src="../content/jabuendiatied.jpeg" alt="Description of Image 2">
    <figcaption>Caption for Image 2</figcaption>
</figure>
  
<figure class="gallery-item">
  <img src="../content/ursula-jab.jpeg" alt="Description of Image 2">
  <figcaption>Caption for Image 2</figcaption>
</figure>

    <!-- ... add more images as needed ... -->
    
</div>

</body>
</html>
