<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ site.title }}</title>
    {% include favicon.html %}

    <link href="{{ "/css/style.css" | relative_url }}" rel="stylesheet" type="text/css">

    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <style>
        * {
            box-sizing: border-box;
        }
    </style>

</head>

<body>
{% include banner.html %}

    </div>
        <div class="left">
            {% include leftnav.html %}
</div>
            <div class="main">

                <figure>
                    <div style="text-align: center;"><img src="../content/cover.jpeg" alt="Book Cover" width="350px">
                        <figcaption>Cover Page of the first English edition of the book</figcaption>
                    </div>
                </figure>
            </div>

            <div class="right">
                {% include news.html %}
            </div>
            
    {% include footer.html %}
</body>

</html>