<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Blog - {{ page.title }}</title>
<link href="{{ "/css/style.css" | relative_url }}" rel="stylesheet" type="text/css">

<script async defer src="https://buttons.github.io/buttons.js"></script>
<style>
  * {
  box-sizing: border-box;
}

</style>

</head>

<body>
<div class="pageContentWrapper">

  {% include banner.html %}
  {% include navbar.html %}
    <hr>

    <div class="left">
        {% include leftnav.html %}
    </div>

    <div class="main">
      <h1>{{page.title}}</h1>
<i>{{ page.date | date_to_string: "ordinal", "US" }}</i>
<hr>
        {{ content }}
    </div>

    <div class="right"> 
       
    </div>


    <div style="margin: 20px;"></div>

    </div>
</div>
{% include footer.html %}
</body>

</html>
